<!DOCTYPE html>
<html>

<head>
  <title>Clock Chess</title>
  <meta charset="UTF-8">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="stylesheet" href="./angular-material.css">
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
    function clock() {
      fetch('http://192.168.100.100:5000/clock', {
        method: "GET"
      });
    }

    function initClock() {
      fetch('http://192.168.100.100:5000/clock?new_game=true', {
        method: "GET"
      });
    }

    var DURATION = 300;
    var INCREMENT = 3;

    var clockP1 = DURATION;
    var clockP2 = DURATION;
    var intervalP1 = null;
    var intervalP2 = null;
    var currentPlayer = 0;
    var state = 'init';


    $(document).ready(function() {
      init();
    });


    function isPaused() {
      return state == 'paused';
    }

    function init() {
      console.log('init')
      initClock();
      stopIntervals();
      clockP1 = DURATION;
      clockP2 = DURATION;
      intervalP1 = null;
      intervalP2 = null;
      currentPlayer = 0;
      state = 'init';
      $('.player1').html(formatClock(clockP1));
      $('.player2').html(formatClock(clockP2));
      $('.play').addClass('disabled');
      $('.player1').removeClass('disabled');
      $('.player2').removeClass('disabled');
      $('.player1').removeClass('active');
      $('.player2').removeClass('active');
    }

    function playPause() {
      console.log('play')
      if (state == 'paused') {
        if (currentPlayer == 1) {
          player2();
        } else if (currentPlayer == 2) {
          player1();
        }
        $('.player1').removeClass('disabled');
        $('.player2').removeClass('disabled');
      } else if (state == 'player1' || state == 'player2') {
        state = 'paused';
        stopIntervals();
        $('.player1').addClass('disabled');
        $('.player2').addClass('disabled');
      }
    }

    function player1() {
      console.log('player1')
      if (state == 'player1') {
        return;
      }

      $('.player1').removeClass('active');
      $('.player2').addClass('active');

      $('.play').removeClass('disabled');
      if (!isPaused()) {
        clockP1 += INCREMENT;
        $('.player1').html(formatClock(clockP1));
      }

      state = 'player1';
      currentPlayer = 1;
      stopIntervals();

      clock();

      intervalP2 = setInterval(function() {
        if (clockP2 > 0) {
          clockP2 -= 1;
          $('.player2').html(formatClock(clockP2));
        } else {
          stopIntervals();
          $('.player2').html('P2 has lost');
        }
      }, 1000);
    }

    function player2() {
      console.log('player2')
      if (state == 'player2') {
        return;
      }

      $('.player1').addClass('active');
      $('.player2').removeClass('active');

      $('.play').removeClass('disabled');
      if (!isPaused()) {
        clockP2 += INCREMENT;
        $('.player2').html(formatClock(clockP2));
      }

      state = 'player2';
      currentPlayer = 1;
      stopIntervals();

      clock();

      intervalP1 = setInterval(function() {
        if (clockP1 > 0) {
          clockP1 -= 1;
          $('.player1').html(formatClock(clockP1));
        } else {
          stopIntervals();
          $('.player1').html('P1 has lost');
        }
      }, 1000);
    }

    function formatClock(clock) {
      var minutes = parseInt(clock / 60, 10);
      var seconds = clock % 60;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      return minutes + ':' + seconds;
    }

    function stopIntervals() {
      if (intervalP1 !== null) {
        clearInterval(intervalP1);
        intervalP1 = null;
      }
      if (intervalP2 !== null) {
        clearInterval(intervalP2);
        intervalP2 = null;
      }
    }

  </script>

  <style>
    .button {
      outline: none;
      min-width: 200px;
      padding: 80px 20px;
      margin: 5px;
      background-color: #EFEFEF;
      border: 1px solid #DDD;
      border-radius: 3px;
      cursor: pointer;
      color: #444;
      font-size: 30px;
      font-weight: 500;
    }

    .active {
      background-color: orange !important;
    }

    .player1 {
      transform: rotate(180deg);
    }

    .button-small {
      padding: 30px;
      display: inline-block;
      min-width: 93px;
    }

    .button:hover {
      background-color: #E0E0E0;
    }

    .button.disabled {
      cursor: default;
    }

    .button.disabled:hover {
      background-color: #BBB;
    }

    .disabled {
      background-color: #BBB;
    }

  </style>

  <div class="layout-column" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">

    <button class="flex button player1" onclick="player1()"></button>

    <div class="layout-row">
      <button class="flex button button-small play" onclick="playPause()">▶/&#9208;</button>

      <button class="flex button button-small init" onclick="init()">↻</button>
    </div>

    <button class="flex button player2" onclick="player2()"></button>
  </div>
</body>

</html>
